# Dependencies
node_modules/
package-lock.json
yarn.lock

# System files
.DS_Store
Thumbs.db
desktop.ini

# Editors / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Build / temporary
dist/
build/
*.tmp
*.cache
